<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20" style="padding-left: 5px; padding-right: 5px;">
    <h1 class="header__title" style="color: #173158; font-weight: bolder; align-text: left;">{{'Categories' | translate | uppercase}}</h1>
    <mat-card>
      <mat-card-header style="color: #004d40; font-weight: bolder;">Actor Defined Category</mat-card-header>
      <hr style="height: 2px; background: navy;">
      <mat-card-content>
        <mat-list-item *ngFor="let hero of heroes" style="align-text: center; font-weight: bold;">
          <hr style="height: 1px; background: indigo;">
          <a matLine href="..." style="padding: 3px; text-decoration: none;">{{hero.alterEgo}}</a>
        </mat-list-item>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="90" fxFlex.gt-sm="80">
    <h1 class="header__title" style="color: #d50000; font-weight: bolder;">{{'topHeroes' | translate | uppercase}}</h1>
    <mat-card id="loading-card" class="hero-card" *ngIf="!heroes">
      <mat-card-header>
        <div mat-card-avatar class="hero-header__image"></div>
        <mat-card-title>.</mat-card-title>
        <mat-card-subtitle>.</mat-card-subtitle>
        <div class="flex-spacer"></div>
        <div class="hero-actions">
          <mat-icon class="icon__like--grey">favorite</mat-icon>
        </div>
      </mat-card-header>
      <mat-progress-bar [color]="'warn'" [mode]="'indeterminate'"></mat-progress-bar>
      <app-spinner></app-spinner>
      <img mat-card-image src="assets/images/loading-hero.jpg">
    </mat-card>
    <div id="heroes-list" *ngIf="heroes">
      <ng-container *ngFor="let hero of heroes">
        <app-hero-card [hero]="hero"></app-hero-card>
      </ng-container>
    </div>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
