@import "mixins";

#heroe-detail {
  width: 65%;
  @include push--auto();
  margin-top: 2rem;
}

button {
  @include push--auto(2rem);
  display: block;
}

.cart {
  background: #006400;
  color: #ffffff;
}

.back {
  background: #3f51b5;
  color: #ffffff;
}

.anchor {
  background: #311b92;
  color: #ffffff;
}

@media (max-width: 600px) {
  #heroe-detail {
    width: 90%;
  }
}