<h1 class="header__title" style="color: #d50000; font-weight: bolder;">{{'heroDetail' | translate | uppercase}}</h1>
<mat-progress-spinner *ngIf="!hero"
                      class="progress__spinner"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>
<div id="heroe-detail" *ngIf="hero">
    <ng-container>
        <app-hero-card [hero]="hero"></app-hero-card>
        <!--<div id="hero-json">
            <pre>{{hero | json}}</pre>
        </div>-->
    </ng-container>
</div>
<button class="cart" mat-raised-button type="button" (click)="dynamicImport()">
    {{'Add to Cart' | translate | uppercase}} <i class="material-icons">
    add_circle
</i>
</button>
<button class="back" mat-raised-button type="button" (click)="goBack()">
    {{'Continue Shopping' | translate | uppercase}} <i class="material-icons">
    shopping_cart
</i>
</button>
<button class="anchor" *ngIf="hero" mat-raised-button type="button" (click)="goToTheAnchor()">
    {{'Anchor to this product' | translate | uppercase}} <i class="material-icons">
    where_to_vote
</i>
</button>
