<mat-card class="hero-card" *ngIf="hero">
    <mat-card-header matTooltip="Click To View More" [matTooltipPosition]="'left'">
        <div (click)="seeHeroDetails(hero)" mat-card-avatar class="hero-header__image"
             [ngStyle]="{'background-image': 'url(assets/images/heroes/' + hero.id + '-thumbnail.jpg)'}"></div>
        <mat-card-title (click)="seeHeroDetails(hero)">{{hero.name}}</mat-card-title>
        <mat-card-subtitle (click)="seeHeroDetails(hero)">{{hero.alterEgo}}</mat-card-subtitle>
        <div class="flex-spacer">
            <button class="cart" mat-raised-button type="button" (click)="dynamicImport()">
                {{'Add to Cart' | translate | uppercase}} <i class="material-icons">
                add_circle
            </i>
            </button>
        </div>
        <div class="hero-actions">
            {{hero.likes}}
            <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                      [matTooltipPosition]="'above'"
                      class="icon__like--red" (click)="like(hero)">favorite
            </mat-icon>
        </div>
    </mat-card-header>
    <img (click)="seeHeroDetails(hero)" mat-card-image src="assets/images/heroes/{{hero.id}}.jpg">
</mat-card>
