@import "mixins";
@import "colors";

.hero-header__image, mat-card-title, mat-card-subtitle, .mat-card-image {
  cursor: pointer;
}

.hero-card {
  margin-bottom: 2rem;
@include push--auto(2rem);
}

button {
  @include push--auto(2rem);
  display: block;
  text-align: center;
}

.cart {
  background: #006400;
  color: #ffffff;
}

.progress__spinner {
@include push--auto();
}

@media (max-width: 680px) {
  .hero-card {
    width: 80%;
  @include push--auto();
  }

  .mat-card {
    margin-bottom: 2rem;
  }
}
