@import "mixins";

img {
  @include push--auto();
  display: block;
}

.header__title {
  color: #d50000;
  font-weight: bolder;
}

.explanation {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}