<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         class.xs="footer-xs">
        <div fxFlex="33">
            <span>{{ 'angularExampleApp' | translate }} © 2018</span>
        </div>
        <div fxFlex="33" class="text--center" *ngIf="currentLang">
          <lib-ngx-example-library [locale]="currentLang"></lib-ngx-example-library>
        </div>
        <div fxFlex class="text--right" class.xs="footer-xs">
            <a href="https://angular.io/" target="_blank"><img src="assets/images/angular.svg"></a>
        </div>
    </div>
</footer>
