<h2 mat-dialog-title>{{'removeHero' | translate}}</h2>
<mat-dialog-content>{{'areYouSure' | translate}}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close style="background: #d50000; color: #ffffff;">{{'no' | translate}} <i class="material-icons">
        cancel
    </i></button>
    <button mat-button [mat-dialog-close]="true" style="background: #008000; color: #ffffff;">{{'yes' | translate}} <i class="material-icons">
        thumb_up
    </i></button>
</mat-dialog-actions>